.logo {
  max-width: 150px;
  max-height: 70px;
}

.navLink {
  text-decoration: none;
  color: #ccc9dc;
  font-weight: 800%;
  transition: all 100ms ease-in-out;
  font-weight: bold;
}

.navLink.active {
  color: #eaac8b;
}

.navLink:hover {
  color: #1b2a41;
}

.wrapper {
  position: relative;
}
.wrapper span {
  position: absolute;
  top: -6px;
  right: -12px;
  color: #eaac8b;
  font-weight: bold;
}

.nav-text {
  font-size: 22px;
}
