.body {
  min-height: calc(80vh - 10px);
}
.about-p {
  margin: 30px;
  color: #202020;
  font-size: 20px;
  padding: 5px;
}

h2 {
  color: #324a5f;
  font-size: 40px;
  margin: 30px;
  padding: 10px;
}

.about-pic {
  max-width: 450px;
  margin: 20px;
  border: 4px solid #324a5f;
  border-radius: 2px;
}
