.main-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  max-height: 100px;

  background-color: #6d597a;
}

.dashboard-btn {
  margin: 30px;
  padding: 20px;
  flex-grow: 1;
}

.logo {
  max-height: 150px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.footer-right {
  flex-grow: 1;
}

.link-admin {
  color: #ccc9dc;
  text-decoration: none;
  padding: 10px;
  background-color: #324a5f;
}

.link-admin:hover {
  color: #e56b6f;
}

.logo-img {
  padding: 10px;
}
